In [1]:
import pandas as pd
import numpy as np
from pydataset import data

In [2]:
my_list = [2,3,4]

In [3]:
type(my_list)

list

In [4]:
pd.Series(my_list)  #Series index first column starts at zero passing it as variable

0    2
1    3
2    4
dtype: int64

Series are columns of dataframes

In [5]:
pd.Series([2,3,4])

0    2
1    3
2    4
dtype: int64

In [6]:
my_array= np.array([2,3,4])

In [7]:
my_array

array([2, 3, 4])

In [8]:
type(my_array)

numpy.ndarray

In [9]:
my_series = pd.Series(my_array) #int64 float64 or object strings go to objects

In [10]:
type(my_series)

pandas.core.series.Series

In [11]:
my_df = data('sleepstudy')

In [12]:
my_df.head()

   Reaction  Days  Subject
1  249.5600     0      308
2  258.7047     1      308
3  250.8006     2      308
4  321.4398     3      308
5  356.8519     4      308

In [13]:
type(my_df)

pandas.core.frame.DataFrame

In [14]:
my_series = my_df.Reaction #these are just series smashed into a dataframe grab Reaction column

In [15]:
my_series

1      249.5600
2      258.7047
3      250.8006
4      321.4398
5      356.8519
         ...
176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, Length: 180, dtype: float64

In [16]:
my_df['Reaction']

1      249.5600
2      258.7047
3      250.8006
4      321.4398
5      356.8519
         ...
176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, Length: 180, dtype: float64

In [17]:
my_df['Reaction'][2]

258.7047

In [18]:
type(my_df['Reaction'])

pandas.core.series.Series

In [19]:
my_df[['Reaction']]

     Reaction
1    249.5600
2    258.7047
3    250.8006
4    321.4398
5    356.8519
..        ...
176  329.6076
177  334.4818
178  343.2199
179  369.1417
180  364.1236

[180 rows x 1 columns]

In [20]:
type(my_df[['Reaction']])

pandas.core.frame.DataFrame

In [21]:
print(my_df)

     Reaction  Days  Subject
1    249.5600     0      308
2    258.7047     1      308
3    250.8006     2      308
4    321.4398     3      308
5    356.8519     4      308
..        ...   ...      ...
176  329.6076     5      372
177  334.4818     6      372
178  343.2199     7      372
179  369.1417     8      372
180  364.1236     9      372

[180 rows x 3 columns]

Pandas data types
Data typpes you will see in series and dataframes
int
fload
bool
object: strings
category: a fixed set of string values
a name, an optional

1. Inference of data type
2 Assignment of data type

In [22]:
pd.Series([True, False, True])

0     True
1    False
2     True
dtype: bool

In [23]:
pd.Series(['I',  'Love', 'Data', 'Science']) #check d types whenever you get data
#if it says obj you know you have a string in there # there could be a space in numerical data

0          I
1       Love
2       Data
3    Science
dtype: object

# if it starts at one it probably came from execel or google docs

In [24]:
pd.Series([1,2,'Five']) #object because 'Five' overrides it

0       1
1       2
2    Five
dtype: object

In [25]:
my_series = pd.Series([1,2,'Five'])

In [26]:
my_series[my_series != 'Five']

0    1
1    2
dtype: object

In [27]:
my_series = my_series[my_series != 'Five']

In [28]:
my_series

0    1
1    2
dtype: object

In [29]:
my_series.astype('int')

0    1
1    2
dtype: int64

In [30]:
my_df['Subject']

1      308
2      308
3      308
4      308
5      308
      ...
176    372
177    372
178    372
179    372
180    372
Name: Subject, Length: 180, dtype: int64

In [31]:
my_df['Subject'].astype('str')

1      308
2      308
3      308
4      308
5      308
      ...
176    372
177    372
178    372
179    372
180    372
Name: Subject, Length: 180, dtype: object

Vectorized Operations
like numpy arrays pandas series are vectorized by default

In [32]:
s1 = pd.Series([2,3,5,8])

In [33]:
s2 = my_df.Reaction

In [34]:
s1.head()

0    2
1    3
2    5
3    8
dtype: int64

In [35]:
s1 + 1

0    3
1    4
2    6
3    9
dtype: int64

In [36]:
s1/2

0    1.0
1    1.5
2    2.5
3    4.0
dtype: float64

In [37]:
s1 >= 5

0    False
1    False
2     True
3     True
dtype: bool

In [38]:
(s1>=3) & (s2 % 2 ==0)

0      False
1      False
2      False
3      False
4      False
       ...
176    False
177    False
178    False
179    False
180    False
Length: 181, dtype: bool

Series methods
.head() returns the first 5 rows of the series

In [39]:
s2

1      249.5600
2      258.7047
3      250.8006
4      321.4398
5      356.8519
         ...
176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, Length: 180, dtype: float64

In [40]:
s2.head()

1    249.5600
2    258.7047
3    250.8006
4    321.4398
5    356.8519
Name: Reaction, dtype: float64

In [41]:
s2.tail() # gives last 5 unless

176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, dtype: float64

In [42]:
s2.tail(10) #gives the last 10

171    269.4117
172    273.4740
173    297.5968
174    310.6316
175    287.1726
176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, dtype: float64

In [43]:
s2.tail(10).astype('str')

171    269.4117
172     273.474
173    297.5968
174    310.6316
175    287.1726
176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, dtype: object

does not save as object

In [44]:
s2.tail() #is back as float

176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, dtype: float64

In [45]:
s3 = my_df.Days#pop remove are destructive alter variabel without reassignment

In [46]:
my_df.head(20)

    Reaction  Days  Subject
1   249.5600     0      308
2   258.7047     1      308
3   250.8006     2      308
4   321.4398     3      308
5   356.8519     4      308
6   414.6901     5      308
7   382.2038     6      308
8   290.1486     7      308
9   430.5853     8      308
10  466.3535     9      308
11  222.7339     0      309
12  205.2658     1      309
13  202.9778     2      309
14  204.7070     3      309
15  207.7161     4      309
16  215.9618     5      309
17  213.6303     6      309
18  217.7272     7      309
19  224.2957     8      309
20  237.3142     9      309

In [47]:
s3.value_counts() #counts how many times day 0 shows up day 1 and so on

0    18
1    18
2    18
3    18
4    18
5    18
6    18
7    18
8    18
9    18
Name: Days, dtype: int64

In [48]:
df = data('tips')

In [49]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [50]:
df.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

Methods

In [51]:
s1

0    2
1    3
2    5
3    8
dtype: int64

In [52]:
(s1 > 3)

0    False
1    False
2     True
3     True
dtype: bool

In [54]:
(s1 > 3).any()

True

In [57]:
(s1 > 3).any

<bound method NDFrame._add_numeric_operations.<locals>.any of 0    False
1    False
2     True
3     True
dtype: bool>

In [56]:
(s1 > 3).all()

False

In [64]:
letters = list('abcdefghijklmnopqrstuvwxyz')

In [65]:
vowels = list('aeiouy')

In [66]:
vowels

['a', 'e', 'i', 'o', 'u', 'y']

In [69]:
letters_series = pd.Series(letters)

In [70]:
letters_series.isin(vowels)

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24     True
25    False
dtype: bool

In [71]:
letters_series.isin(vowels).any()

True

In [72]:
s1 > 2

0    False
1     True
2     True
3     True
dtype: bool

In [76]:
s1

0    2
1    3
2    5
3    8
dtype: int64

In [74]:
mask = s1 > 2

In [75]:
s1[mask]

1    3
2    5
3    8
dtype: int64

Methods for descriptive stat
count()
sum()
mean()
median()
min()
max()
mode()
abs()
std()
quantile()

In [77]:
s2

1      249.5600
2      258.7047
3      250.8006
4      321.4398
5      356.8519
         ...
176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, Length: 180, dtype: float64

In [78]:
s2.count()

180

In [79]:
s2.sum()

53731.42049999999

In [80]:
s2.mean()

298.50789166666664

In [81]:
s2.abs()

1      249.5600
2      258.7047
3      250.8006
4      321.4398
5      356.8519
         ...
176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, Length: 180, dtype: float64

In [82]:
s2.min()

194.3322

In [83]:
s2.max()

466.3535

In [84]:
s2.std()

56.32875712523515

In [85]:
s2.quantile()

288.6508

In [86]:
s2.describe()

count    180.000000
mean     298.507892
std       56.328757
min      194.332200
25%      255.375825
50%      288.650800
75%      336.752075
max      466.353500
Name: Reaction, dtype: float64

In [89]:
s2.describe()[0:2]

count    180.000000
mean     298.507892
Name: Reaction, dtype: float64

Applying other functions to each item in a series
Define the fuction def myfcn() then do my_series.apply(myfcn)
    OR use the .apply method with lambda my_series.apply(lambda n: <myfunction>)

In [92]:
def even_or_odd(n):
    '''this function takes a number and returns a string indicating whether
    the passed number is even or odd.
    '''
    if n % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [93]:
even_or_odd(1)

'odd'

In [94]:
even_or_odd(2)

'even'

In [95]:
s1

0    2
1    3
2    5
3    8
dtype: int64

In [98]:
s1.apply(even_or_odd)

0    even
1     odd
2     odd
3    even
dtype: object

In [101]:
s1.apply(lambda n: 'even' if n % 2 == 0 else 'odd')

0    even
1     odd
2     odd
3    even
dtype: object

Vectorized String Operations

In [102]:
s4 = pd.Series(['Andrew','Adam', 'Tasha', 'Ryan', 'John'])

In [103]:
s4.apply(lambda s: s.lower())

0    andrew
1      adam
2     tasha
3      ryan
4      john
dtype: object

In [104]:
s4.lower()

AttributeError: 'Series' object has no attribute 'lower'

In [105]:
s4.str.lower() #then invokes the string method

0    andrew
1      adam
2     tasha
3      ryan
4      john
dtype: object

In [106]:
s4.str.replace('Ryan', 'RAYAN')

0    Andrew
1      Adam
2     Tasha
3     RAYAN
4      John
dtype: object