# Part 1

In [155]:
import pandas as pd
import numpy as np
from pydataset import data

In [4]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [186]:
my_fruits = pd.Series(fruits)

In [60]:
my_fruits.size #or shape

17

1.  Determine the number of elements in fruits.

In [8]:
len(my_fruits)

17

2.  Output only the index from fruits.

In [54]:
list(my_fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

3.  Output only the values from fruits.

In [87]:
list(my_fruits.values)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

4.  Confirm the data type of the values in fruits.

In [86]:
my_fruits.dtype #Object

dtype('O')

5.  Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [89]:
my_fruits.head? Gives the doc strings

In [92]:
my_fruits.head(5)  #or fruits[:5]

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [96]:
my_fruits.tail(3) #or fruits[-3:]

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [97]:
my_fruits.sample(2)

5    honeycrisp apple
7          watermelon
dtype: object

6.  Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [31]:
my_fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7.  Run the code necessary to produce only the unique string values from fruits.

In [39]:
my_fruits.unique() #set(my_fruits)

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8.  Determine how many times each unique string value occurs in fruits.

In [36]:
my_fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

9.  Determine the string value that occurs most frequently in fruits.

In [38]:
my_fruits.mode()

0    kiwi
dtype: object

In [101]:
my_fruits.value_counts().index[0] #jon style

'kiwi'

10.  Determine the string value that occurs least frequently in fruits.

In [115]:
my_fruits.value_counts().nsmallest(keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

strawberry pineapple gala apple honeycrisp apple tomato watermelon honeydew blueberry blackberry gooseberry papaya

# Part II

1.  Capitalize all the string values in fruits.

In [247]:
my_fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2.  Count the letter "a" in all the string values (use string vectorization).

In [70]:
a = 'a'
my_fruits.str.count(a)

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

3.  Output the number of vowels in each and every string value.

In [211]:
vowels = '[aeiou]' 
my_fruits.str.count(vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

4.  Write the code to get the longest string value from fruits.

In [219]:
max(my_fruits.str.len())

16

5.  Write the code to get the string values with 5 or more letters in the name.

In [119]:
my_fruits[my_fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6.  Find the fruit(s) containing the letter "o" two or more times.

In [170]:
my_fruits[my_fruits.str.count('o') >= 2]

6         tomato
15    gooseberry
dtype: object

7.  Write the code to get only the string values containing the substring "berry".

In [204]:
my_fruits[my_fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

8.  Write the code to get only the string values containing the substring "apple".

In [206]:
substring = ['apple']
my_fruits[my_fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

9.  Which string value contains the most vowels?

In [171]:
vowels = '[aeiou]'
my_fruits[max(my_fruits.str.count(vowels))]

'honeycrisp apple'

In [242]:
letters = list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')

1.  Which letter occurs the most frequently in the letters Series?

In [280]:
letters = pd.Series(letters)
letters
letters[max(letters.value_counts())]

'y'

2.  Which letter occurs the Least frequently?

In [254]:
letters[min(letters.value_counts())]

'd'

3.  How many vowels are in the Series?

In [272]:
vowels = '[aeiou]'
sum(letters.str.count(vowels))

34

4.  How many consonants are in the Series?

In [276]:
consonants = '[bcdfghjklmnpqrstvwxyz]'
sum(letters.str.count(consonants))

166

5.  Create a Series that has all of the same letters but uppercased.

In [277]:
letters.str.upper()

0      H
1      N
2      V
3      I
4      D
      ..
195    R
196    O
197    G
198    U
199    Y
Length: 200, dtype: object

6.  Create a bar plot of the frequencies of the 6 most commonly occuring letters.

In [281]:
letters.plot()

TypeError: no numeric data to plot

In [62]:
vowels = '[aeiou]'
fruit_v_count = my_fruits.str.count(vowels)
sum(fruit_v_count)

49

In [175]:
# Use `isin()` to tell whether each value is in a set of known values. 
vowels = list('aeiouy')
letters = list('abcdefghijkeliminnow')
letters_series = pd.Series(letters)
letters_series
letters_series.isin(vowels)

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10    False
11     True
12    False
13     True
14    False
15     True
16    False
17    False
18     True
19    False
dtype: bool