# Part 1

In [3]:
import pandas as pd
import numpy as np
from pydataset import data

In [4]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [5]:
my_fruits = pd.Series(fruits)

In [60]:
my_fruits.size #or shape

17

1.  Determine the number of elements in fruits.

In [8]:
len(my_fruits)

17

2.  Output only the index from fruits.

In [54]:
list(my_fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

3.  Output only the values from fruits.

In [47]:
my_fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4.  Confirm the data type of the values in fruits.

In [57]:
my_fruits.dtype

dtype('O')

5.  Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [21]:
my_fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [25]:
my_fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [27]:
my_fruits.sample(2)

8     honeydew
3    pineapple
dtype: object

6.  Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [31]:
my_fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7.  Run the code necessary to produce only the unique string values from fruits.

In [39]:
my_fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8.  Determine how many times each unique string value occurs in fruits.

In [36]:
my_fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

9.  Determine the string value that occurs most frequently in fruits.

In [38]:
my_fruits.mode()

0    kiwi
dtype: object

10.  Determine the string value that occurs least frequently in fruits.

strawberry pineapple gala apple honeycrisp apple tomato watermelon honeydew blueberry blackberry gooseberry papaya

# Part II

In [62]:
vowels = '[aeiou]'
fruit_v_count = my_fruits.str.count(vowels)
sum(fruit_v_count)

49